*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 10ch;
}

.score{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    padding: 30px;
    margin: 10px auto;
    border-radius: 0.5ch;
    color: aliceblue;
}

#user-label{
    border-radius: 0.5ch;
    background-color: chocolate;
    padding: 0.5ch;
    
}

#comp-label{
    border-radius: 0.5ch;
    background-color: chocolate;
    padding: 0.5ch;
}

.score span{
    margin: 10px;
    font-size: 4rem;
    
}

.result{
    font-size: 2.5rem;
    margin: 50px ;
    display: flex;
    justify-content: center;
}

.choice{
    display: flex;
    justify-content: center;
}

.option{
    border: 6px solid black;
    border-radius: 100rem;
    margin: 1%;
}

.make-your-move{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 50px ;
}
.option:hover {
    cursor: pointer;
    background: coral;
  }